Repository redhat-openshift-builds/operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

openshift-builds-operator-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-builds-tenant/openshift-builds-operator:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
  ...

openshift-builds-operator-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-builds-tenant/openshift-builds-operator:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: build-source-image
    value: 'true'
  ...

Feat: Add script for updating images sha from a snapshot cr
  hack/update-manifests-from-snapshot.sh
Due: none

Release helper script
  hack/README.md
  hack/release_helper.sh
Due: none

Updated latest Images
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: none

chore: bump shipwright release to 0.16
  Makefile
  bundle/manifests/buildpack-nodejs-build_console.openshift.io_v1_consoleyamlsample.yaml
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
  config/shipwright/build/release/release.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

fix directory path
  test/data/buildpack-nodejs-build.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Updated Operator Image in Bundle
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: none

Fix Makefile to pull release from shipwright build repo
  Makefile
  config/shipwright/build/release/release.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Fix CVE-2025-22874
  go.mod
  go.sum
  vendor/modules.txt
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Enable operator FIPS Compliance Support
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
  config/shipwright/build/release/release.yaml
  hack/update-manifests-from-snapshot.sh
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Update SHAs to latest images
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
  config/sharedresource/node_daemonset.yaml
  config/sharedresource/webhook_deployment.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Update bundle version to 1.5.1
  Makefile
  bundle.Dockerfile
  bundle/manifests/buildpack-nodejs-build_console.openshift.io_v1_consoleyamlsample.yaml
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Update SHAs to latest images
  Makefile
  bundle.Dockerfile
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
  config/sharedresource/node_daemonset.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Update operator SHA to 1.5.1
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: none

fix: stop gomod updates via renovate
  renovate.json
Due: none

remove pipelines installation
  README.md
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/catalog/openshift-builds-1-0-2.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: none

Red Hat Konflux purge openshift-builds-operator
  .tekton/openshift-builds-operator-pull-request.yaml
  .tekton/openshift-builds-operator-push.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Create release branch builds-1.6
  .tekton/openshift-builds-operator-bundle-pull-request.yaml
  .tekton/openshift-builds-operator-bundle-push.yaml
  .tekton/openshift-builds-operator-pull-request.yaml
  .tekton/openshift-builds-operator-push.yaml
  Dockerfile
  Makefile
  bundle.Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Updating builds-1.6 image references from snapshot openshift-builds-1-6-lbdh2
  Dockerfile
  Makefile
  bundle.Dockerfile
  bundle/manifests/openshift-builds-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/openshift-builds-operator-metrics_v1_service.yaml
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  bundle/manifests/openshift-builds-shared-resource-node-privileged-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/openshift-builds-shared-resource-privileged-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/openshift-builds-shared-resource-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/openshift-builds-shared-resource-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/operator.openshift.io_openshiftbuilds.yaml
  bundle/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  bundle/metadata/annotations.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
  config/sharedresource/node_daemonset.yaml
  config/sharedresource/webhook_deployment.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

dummy check
  .tekton/openshift-builds-operator-pull-request.yaml
  cmd/main.go
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

chore: update the go-toolset image in unit-test
  .tekton/openshift-builds-operator-pull-request.yaml
Due: openshift-builds-operator-on-pull-request

updating image references for builds-1.6
  bundle/manifests/openshift-builds-metrics-reader_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/openshift-builds-operator-metrics_v1_service.yaml
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  bundle/manifests/openshift-builds-shared-resource-node-privileged-binding_rbac.authorization.k8s.io_v1_clusterrolebinding.yaml
  bundle/manifests/openshift-builds-shared-resource-privileged-role_rbac.authorization.k8s.io_v1_clusterrole.yaml
  bundle/manifests/openshift-builds-shared-resource-prometheus_rbac.authorization.k8s.io_v1_role.yaml
  bundle/manifests/openshift-builds-shared-resource-prometheus_rbac.authorization.k8s.io_v1_rolebinding.yaml
  bundle/manifests/operator.openshift.io_openshiftbuilds.yaml
  bundle/manifests/operator.shipwright.io_shipwrightbuilds.yaml
  bundle/metadata/annotations.yaml
  config/default/kustomization.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
  config/sharedresource/node_daemonset.yaml
  config/sharedresource/webhook_deployment.yaml
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

Update builds-1.6 operator references from snapshot openshift-builds-1-6-jg7j4
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: none

Update operator reference for builds-1.6 (#628)
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: none

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-operator-1-5
  Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-operator-bundle-1-5
  bundle.Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-operator-1-4
  Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-operator-bundle-1-4
  bundle.Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-operator-1-3
  Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-operator-bundle-1-3
  bundle.Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-operator-1-2
  Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

chore(KONFLUX-6210): fix and set name and cpe label for openshift-builds-operator-bundle-1-2
  bundle.Dockerfile
Due: openshift-builds-operator-on-pull-request, openshift-builds-operator-on-push

update operator references for builds-1.6
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: none

updating operator reference on the basis of snapshot openshift-builds-1-6-7wlpw
  Makefile
  bundle/manifests/openshift-builds-operator.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/openshift-builds-operator.clusterserviceversion.yaml
Due: none

Path conditions:
  openshift-builds-operator-on-pull-request: (((any of: api/|internal/|test/|vendor/|config/sharedresource/|config/shipwright/) or (any of: main.go|go.mod|go.sum|Dockerfile)) or (any of: .tekton/openshift-builds-operator-unit-test.yaml)) or (any of: .tekton/openshift-builds-operator-pull-request.yaml)
  openshift-builds-operator-on-push: (((any of: api/|internal/|test/|vendor/|config/sharedresource/|config/shipwright/) or (any of: main.go|go.mod|go.sum|Dockerfile)) or (any of: .tekton/openshift-builds-operator-unit-test.yaml)) or (any of: .tekton/openshift-builds-operator-push.yaml)
